{
  "extends": ["plugin:react/recommended", "standard"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "h|Fragment" }]
  },
  "ignorePatterns": ["dist/"]
}